.advantages {
    padding: 25px 0;

    background-color: get-color(primary-white);
    background-image: image-set(
        url(../images/advantages/dark-cloud--end-640.png) 1x,
        url(../images/advantages/dark-cloud--end-960.png) 2x
    );
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-position: top 180px right;

    @include for-size(tablet) {
        padding: 50px 0;

        background-position: top 150px right;
    }

    @include for-size(desktop) {
        background-position: top 100px right;
    }

    &__list {
        @extend %list;
        color: get-color("primary-black");

        @include for-size(tablet) {
            @include flex-grid($grid-gap);
        }
    }

    &__item-body {
        padding: 32px 15px;

        @include for-size(laptop) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    &__headline {
        margin-bottom: 7px;

        @include font(700, 18px, 1.27);
        text-transform: uppercase;
    }

    &__descr {
        margin-bottom: 0;
        font-size: 16px;
        line-height: 1.3;
    }

    &__image {
        flex-shrink: 0;
    }
}

.advantages__grid-item {
    display: flex;
    flex-direction: column;

    @include for-size(tablet) {
        flex-basis: calc((100% - #{$grid-gap}) / 2);
    }

    @include for-size(laptop) {
        flex-basis: calc((100% - 2 * #{$grid-gap}) / 3);
    }

    &:not(:last-child) {
        @include for-size(mobile-only) {
            margin-bottom: 20px;
        }
    }

    &--2r {
        gap: $grid-gap;

        @include for-size(tablet-only) {
            display: flex;
            flex-direction: row;
            flex-basis: 100%;
            order: 1;
        }

        .advantages__item {
            @include for-size(tablet-only) {
                flex-basis: 50%;
            }
        }

        .advantages__image {
            @include for-size(mobile-only) {
				max-width: 200px;
			}
        }
    }

    &--2c {
        gap: $grid-gap;

        @include for-size(tablet-only) {
            order: 2;
        }

        @include for-size(tablet) {
            flex-direction: row;
            flex-basis: 100%;
            min-height: 306px;
        }

        .advantages__item {
            @include for-size(tablet) {
                flex-basis: 50%;
            }
        }

        .advantages__item-body {
            @include for-size(laptop) {
                max-width: 350px;
            }
        }

        .advantages__image {
            @include for-size(laptop) {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: -1;
            }
        }
    }
}

.advantages__item {
    position: relative;
    overflow: hidden;

    flex-grow: 1;

    border-radius: $card-mobile-border-radius;

    @include for-size(tablet) {
        border-radius: $card-border-radius;
    }

    &--accent {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        // padding-left: 15px;
        // padding-right: 15px;

        background-image: $card-accent-gradient;

        .advantages__image {
            padding: 15px;
        }
    }

    &--accent-reversed {
        background-image: $card-accent-gradient-reversed;
        flex-direction: column-reverse;
    }

    &--light {
        @include centered-flex($main-axis: space-between);
        min-height: 190px;

        background-image: $card-light-gradient;
    }

    &--dark {
        position: relative;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-image: $card-dark-gradient;
        color: get-color("primary-white");

        .advantages__image {
            align-self: flex-end;
        }
    }
}

.advantages__dark-cloud {
    position: absolute;
    z-index: -1;

    top: 190px;
    right: 0;

    @include for-size(laptop) {
        top: 160px;
    }

    @include for-size(desktop) {
        top: 130px;
    }

    @media screen and (min-width: 1700px) {
        top: 50px;
    }
}
