.design {
    position: relative;
    z-index: 1;

    padding: 50px 0;

    background-color: get-color(primary-white);

    @include for-size(laptop) {
        color: get-color("primary-black");
    }

    &__inner {
        padding-top: 80px;
        padding-bottom: 60px;

        border-radius: $card-mobile-border-radius;
        background-image: linear-gradient(to right, rgba(22, 22, 22, 0.6), rgba(22, 22, 22, 0.6)),
            image-set(
                url(../images/design/design-bg-mobile.png) 1x,
                url(../images/design/design-bg-mobile@2x.png) 2x
            );
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom right;

        @include for-size(tablet) {
            padding-top: 100px;
            padding-bottom: 135px;

            border-radius: $card-border-radius;

            background-image: linear-gradient(
                    to right,
                    rgba(22, 22, 22, 0.6),
                    rgba(22, 22, 22, 0.6)
                ),
                image-set(
                    url(../images/design/design-bg.png) 1x,
                    url(../images/design/design-bg@2x.png) 2x
                );
        }

        @include for-size(laptop) {
            background-image: image-set(
                url(../images/design/design-bg.png) 1x,
                url(../images/design/design-bg@2x.png) 2x
            );
        }
    }

    &__text {
        max-width: 470px;
        margin-bottom: 30px;

        @include for-size(tablet) {
            margin-bottom: 70px;
        }
    }

    &__dark-cloud {
        position: absolute;
        z-index: -1;

        top: 0;
        right: 0;
        transform: translateY(-50%);

        @include for-size(mobile) {
            transform: translateY(-80%);
        }

        @include for-size(laptop) {
            transform: translateY(-50%);
        }
    }
}
