.gallery {
	position: relative;
	z-index: 1;
	
    min-height: 700px;
    padding: 50px 0;

    border: 1px solid teal;
    background-color: get-color("primary-white");

    position: relative;
    z-index: 1;

	&__dark-cloud {
		position: absolute;
		z-index: -1;
	
		top: 190px;
		left: 0;

	
		@include for-size(tablet) {
			top: -130px;
		}
	
		@include for-size(laptop) {
			top: -100px;
		}
	}
}
