.get-example-form {
    position: relative;

	@include for-size(laptop-only) {
		@include centered-flex(flex, center, space-around);
		flex-direction: row-reverse;
	}
	
    @include for-size(laptop) {
		padding-left: 15px;

        border-radius: $card-border-radius;

        background-color: get-color("form-bg");
    }

    @include for-size(desktop) {
		padding-top: 72px;
		padding-bottom: 65px;
        padding-left: 80px;
		max-width: 970px;
    }

    &__field {
        position: relative;

        display: block;
        margin-bottom: 20px;

        @include for-size(tablet) {
            margin-bottom: 30px;
        }
    }

    &__input {
        width: 100%;
        padding: 20px 28px;

        border-radius: 60px;
        border: 2px solid transparent;

        outline: none;
        background-color: #fff;
        font-size: 18px;

        transition: border $transition-duration $ttf;

        .get-example-form__field:hover &,
        &:focus {
            border-color: get-color("accent");
        }
    }

    &__button {
        margin-bottom: 15px;
        width: 100%;

        font-size: 14px;

        @include for-size(mobile-only) {
            padding-left: 5px;
            padding-right: 5px;
        }

        @media screen and (min-width: 425px) {
            font-size: 18px;
        }

        @include for-size(tablet) {
            margin-bottom: 25px;
        }
    }

    &__policy {
        margin-bottom: 0;

        color: get-color("form-policy");
        text-align: center;
        @include font(400, 12px, 1.17);
    }
}

.policy {
    color: currentColor;
    text-decoration: underline;

    &:hover {
        color: get-color("accent");
    }
}

.get-example-form__inner {
    @include for-size(tablet-only) {
        padding-left: 100px;
        padding-right: 100px;
    }

    @include for-size(laptop) {
        width: 50%;
		max-width: 500px;
    }

    @include for-size(until-laptop) {
		position: relative;
		z-index: 1;
		
        padding-top: 75px;
        padding-bottom: 75px;
    }

    @include for-size(mobile-only) {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    &::before {
        @include for-size(until-laptop) {
            content: "";

            position: absolute;
            top: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);

            width: 100vw;
            height: 100%;

            border-radius: $card-border-radius;

            background-color: get-color("form-bg");
        }
    }
}

.get-example-form__label {
    position: absolute;
    top: 50%;
    left: 28px;

    transform: translateY(-50%);
    transform-origin: center left;

    color: get-color("primary-black");
    font-size: 16px;

    transition: color $transition-duration $ttf, transform $transition-duration $ttf;

    @include for-size(mobile) {
        font-size: 18px;
    }

    .get-example-form__input:focus + & {
        transform: translateY(calc(-50% - 45px)) scale(1);
    }

    .get-example-form__input:not(:placeholder-shown) + & {
        color: get-color("primary-white");
        @include for-size(tablet) {
            transform: translateY(calc(-50% - 45px)) scale(0.8);
        }
    }

    .get-example-form__field:hover &,
    .get-example-form__input:focus + & {
        color: get-color("accent");
    }

    @include for-size(mobile-only) {
        .get-example-form__input:focus + &,
        .get-example-form__input:not(:placeholder-shown) + & {
            transform: translateY(calc(-50% - 42px)) scale(0.8);
        }
    }
}
