.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;

    @include for-size(until-laptop) {
        padding-bottom: 90px;
    }

    &__row {
        text-align: center;

        @include for-size(desktop) {
            @include centered-flex(flex, center, space-between);
        }
    }

    &__logo {
        @include for-size(tablet) {
            align-self: flex-start;
        }
    }

    &__site-nav {
        display: flex;
        justify-content: space-around;

        text-align: left;

        @include for-size(tablet) {
            column-gap: 70px;
        }

        @include for-size(desktop) {
            column-gap: 40px;
        }
    }

    &__list {
        @extend %list;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 15px;

            @include for-size(laptop) {
                margin-bottom: 8px;
            }
        }
    }

    @include for-size(mobile-only) {
        &__logo {
            margin-bottom: 40px;
        }

        &__site-nav {
            margin-bottom: 30px;
        }

        &__message {
            margin-bottom: 25px;
        }
        &__schedule {
            margin-bottom: 30px;
        }
        &__company-phone {
            margin-bottom: 45px;
        }
    }

    &__message-action {
        margin-bottom: 10px;
    }

    &__policy {
		@include for-size(desktop) {
			text-align: right;
		}
    }

    &__column {
        @include for-size(tablet) {
            @include centered-flex(flex, center, space-around);
        }

        @media screen and (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px)) {
            margin-bottom: 50px;
        }

		@include for-size(desktop) {
			column-gap: 65px;
		}
    }
}

.page-footer__link {
    color: inherit;
    font-size: 18px;

    transition: color $transition-duration $ttf;

    &:hover,
    &:focus {
        color: get-color("footer-text");
    }
}

.page-footer__company-phone {
	@include for-size(desktop) {
		margin-bottom: 10px;
	}
	
	
    &--center {
        @media screen and (max-width: calc(#{$tablet} - 1px)) , (min-width: $desktop) {
            display: none;
        }
    }

    &--end {
        @media screen and (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px)) {
            display: none;
        }
    }
}

.page-footer__policy-link {
    display: block;

    color: get-color("footer-text");
    font-size: 14px;

    &--accent {
        color: get-color("made-by");
        text-decoration: underline;
        font-size: 16px;
    }

    &:not(:last-child) {
        margin-bottom: 8px;
    }

    &:hover,
    &:focus {
        color: get-color("primary-white");
        text-decoration: underline;
    }
}

//! schedule
.schedule {
    position: relative;

    display: inline-block;

    &::before {
        @extend %online-icon;
    }

    &__date {
        font-weight: 700;
    }
}

.schedule__item {
    margin-bottom: 0;

    font-size: 14px;
    letter-spacing: 0.05em;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}
